:root {
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
}

body {
    font: normal 400 16px/1.75 Oxygen;
    color: #777777;
    line-height: 1.69;
}

body {
    font-size: calc(14px + 2 * (100vw / 1920));
}

body {
    -webkit-box-direction: normal;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
