<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>CreatePost</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .container-sm {
            max-width: 550px;
        }
        .container-lg {
            max-width: 750px;
        }
        .form-label.required:after {
            content:" *";
            color:red;
        }
    </style>
</head>
<body>
<div style="position: fixed;top: 0;width: 100%;z-index: 1000;" th:include="/_header_on" th:if="${userDto.email}"></div>
<div style="position: fixed;top: 0;width: 100%;z-index: 1000;" th:include="/_header_off" th:unless="${userDto.email}"></div>

<form class="needs-validation" style="margin-top: 70px;"  novalidate action="/post" method="post">
    <div class="container-sm mt-5 mb-5">
        <div class="row m-4">
            <div class="col-12 text-center">
                <h4>Thông tin xe</h4>
            </div>
        </div>
<!--        Tình trạng xe-->
        <div class="row mt-4 mb-4 me-2 ms-2 fs-5">
            <div class="col-4">
                Tình trạng xe
            </div>
            <div class="col-4">
                <input class="form-check-input" type="radio" th:field="*{motorbikeDto.status}" value="Đã sử dụng" id="RadioUsed" name="status" required>
                <label class="form-check-label" for="RadioUsed"> Đã sử dụng</label>
            </div>
            <div class="col-4">
                <input class="form-check-input" type="radio" th:field="*{motorbikeDto.status}" value="Xe mới" id="RadioNew" name="status" required>
                <label class="form-check-label" for="RadioNew">Xe mới</label>
            </div>
        </div>
<!--        Hãng Xe-->
        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Hãng xe</label>
                <select class="form-select rounded-0" aria-label="" required name="brandId">
                    <option th:each="brand : ${brands}" th:value="${brand.ID}" th:text="${brand.name}"></option>
                </select>
            </div>
        </div>
<!--        Loại Xe-->
        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Loại xe</label>
                <select class="form-select rounded-0" aria-label="" required name="typeId">
                    <option th:each="type : ${types}" th:value="${type.ID}" th:text="${type.name}"></option>
                </select>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Dòng Xe</label>
                <select class="form-select rounded-0" aria-label="" required name="modelId">
                <option th:each="model : ${models}" th:value="${model.ID}" th:text="${model.name}"></option>
                </select>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Dung Tích Xe</label>
                <select class="form-select rounded-0" aria-label="" required name="capacityId">
                    <option th:each="capacity : ${capacities}" th:value="${capacity.ID}" th:text="${capacity.capacity}"></option>
                </select>
            </div>
        </div>
<!--        So Km đã đi, biển số xe-->
        <div class="row m-2">
            <div class="col-6">
                <label class="form-label">Số KM Đã Đi</label>
                <input type="number" class="form-control rounded-0" th:field="*{motorbikeDto.odometer}" min="1"  >
            </div>
            <div class="col-6">
                <label class="form-label">Biển số xe</label>
                <input type="text" class="form-control rounded-0" th:field="*{motorbikeDto.licensePlates}">
            </div>
        </div>


        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Giá bán</label>
                <input type="number" class="form-control rounded-0" th:field="*{motorbikeDto.price}" min="1"  required >
                <div class="invalid-feedback">Field is required.</div>
            </div>
        </div>
    </div>
    <div class="container-lg mt-5 mb-5">
        <div class="row m-4">
            <div class="col-12 text-center">
                <h4>Tiêu đề đăng tin và Mô tả chi tiết</h4>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Tiêu đề đăng tin</label>
                <input type="text" class="form-control rounded-0" th:field="*{postDto.title}" required>
                <div><small id="title_count" class="string-count">0/50 ký tự</small></div>
                <div class="invalid-feedback">Field is required.</div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Mô tả chi tiết</label>
                <textarea class="form-control rounded-0" id="description" maxlength="1500" aria-label="" th:field="*{postDto.description}" required></textarea>
                <div><small id="description_count" class="string-count">0/1500 ký tự</small></div>
                <div class="invalid-feedback">Field is required.</div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-12">
                <label class="form-label required">Địa chỉ nơi bán</label>
                <input type="text" class="form-control rounded-0" id="" th:field="*{postDto.address}" required>
                <div class="invalid-feedback">Field is required.</div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-12 text-center">
                <button class="w-50 btn btn-primary btn-lg rounded-0" type="submit">Đăng Tin</button>
            </div>
        </div>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script>
    $(document).ready(function(){
        $('#description').on('keyup', function() {
            $('#description_count').html($(this).val().length+"/1500 ký tự");

            if($(this).val().length > 1500) {
                $(this).val($(this).val().substring(0, 2140));
                $('#description_count').html("0/1500 ký tự");
            }
        });

        $('#title').on('keyup', function() {
            $('#title_count').html($(this).val().length+"/50 ký tự");

            if($(this).val().length > 50) {
                $(this).val($(this).val().substring(0, 2140));
                $('#title_count').html("0/50 ký tự");
            }
        });
    });

    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

</body>
</html>